@model IEnumerable<Library_project.Models.Adres>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerBudynku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerMieszkania)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica.IDUlica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerBudynku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerMieszkania)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDAdres">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDAdres">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDAdres">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
