@model IEnumerable<Library_project.Models.Ksiazka>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

@if (!User.IsInRole("Czytelnik"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokWydania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiczbaStron)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydawnictwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gatunek)
            </th>
            <th>
                Autorzy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RokWydania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiczbaStron)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wydawnictwo.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gatunek.Nazwa)
                </td>
                <td>
                   <ul>
                        @foreach (var value in ViewBag.Autorzy)
                        {
                            if(value.Value == item.ISBN)
                            {
                                <li>@value.Text</li>
                            }
                        }
                   </ul>
                </td>
                <td>

                    @if (!User.IsInRole("Czytelnik"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ISBN">Edit</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a asp-action="Delete" asp-route-id="@item.ISBN">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
