@model IEnumerable<Library_project.Models.DanaOsobowa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osoba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.IDOsoba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres.IDAdres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDDanaOsobowa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDDanaOsobowa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDDanaOsobowa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
